* {
  display: inline-block;
}


.T1 {
  width: 100px;
  height: 100px;
  background: #ff0000;
}

.T2 {
  width: 100px;
  height: 100px;
  background: #00ff00;
} 

.T3 {
  width: 100px;
  height: 100px;
  background: #0000ff;
} 